# temporary stuff
*~
*.swp

# hidden stuff
.*
!.editorconfig
!.gitignore
!.yamllint

# Distribution / packaging
__pycache__/
node_modules/
venv/
env.json
samconfig.toml

env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
*.egg
packaged.yml
