# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
__pycache__/
node_modules/
venv/
.env
env.json
samconfig.toml
packaged.yml
package.json
package-lock.json
# Serverless directories
.serverless
# SAM
.aws-sam/
#VS Code
.vscode/
#JetBrains
.idea