[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
asynctest = "*"
black = "*"
boto3 = "*"
flake8 = "*"
mock = "*"
pytest = "*"
pytest-asyncio = "*"
coverage = "*"

[requires]
python_version = "3.8"

[packages]
aiohttp = "*"
smart-open = "*"

[pipenv]
allow_prereleases = true