aiohttp==3.6.2
async-timeout==3.0.1
asynctest==0.13.0
attrs==19.3.0
autopep8==1.5.3
boto==2.49.0
boto3==1.13.19
botocore==1.16.19
certifi==2020.4.5.1
chardet==3.0.4
docutils==0.15.2
hurry.filesize==0.9
idna==2.9
importlib-metadata==1.6.1
jmespath==0.10.0
memory-profiler==0.57.0
mock==4.0.2
more-itertools==8.4.0
multidict==4.7.6
packaging==20.4
pluggy==0.13.1
psutil==5.7.0
py==1.8.2
pycodestyle==2.6.0
Pympler==0.8
pyparsing==2.4.7
pytest==5.4.3
pytest-asyncio==0.12.0
python-dateutil==2.8.1
python-dotenv==0.13.0
requests==2.23.0
s3transfer==0.3.3
six==1.15.0
smart-open==2.0.0
toml==0.10.1
urllib3==1.25.9
wcwidth==0.2.4
yarl==1.4.2
zipp==3.1.0
